.Mutual{
    width: 100%;
    height: 100%;
    position: relative;
}
.centre{
    width: 83%;
    margin: 0 auto;
}
.head{
    background: #fed732;
    /* height: 60px; */
}
.nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

 .logo img{
    height: 100%;
    width: 100%;
}
.nav .nav_l a{
     margin-left: 55px;
     color: #48402c;
}
.content{
    font-family: monospace;
}
.content img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
.case_01,.case_02,.case_03,.case_04{
    position: relative;
}
.case_01 .dingding{
    position: absolute;
    top: 27.5%;
    left: 7.5%;
    height: 47%;
    width: 60%;
}
.case_02 .alipay{
    position: absolute;
    right: 8.5%;
    height: 61%;
    width: 59%;
    top: 6.5%;
}
.case_04 .video_1 ,.case_04 .video_2 ,.case_04 .video_3 ,.case_04 .video_4 ,.case_04 .video_5 ,.case_04 .video_6 ,.case_04 .video_7 ,.case_04 .video_8{
    height: 12%;
    width: 17%;
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    white-space: nowrap;
}
.case_04 p{
    margin-top: 6%;
    width: 100%;
}
.case_04 .video_1{
    top: 19%;
    left: 8.3%;
}
.case_04 .video_2{
    top: 19%;
    left: 32.3%;
}
.case_04 .video_3{
    top: 19%;
    left: 56.3%;
}
.case_04 .video_4{
    top: 45%;
    left: 8.3%;
}
.case_04 .video_5{
    top: 45%;
    left: 32.3%;
}
.case_04 .video_6{
    top: 45%;
    left: 56.3%;
}
.case_04 .video_7{
    top: 71%;
    left: 8.3%;
}
.case_04 .video_8{
    top: 71%;
    left: 32.3%;
}
.headTop{
    position: fixed;
    bottom: 10%;
    right: 5%;
}

#ABOUT,#HI,#MCN{
    position: relative;
}
#ABOUT .aboutText{
    position: absolute;
    top: 40%;
    left: 52%;
    /* width: 100%; */
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    -webkit-transform: scale(1);
    font-size: 1.8rem;
    white-space: nowrap;
}
#ABOUT .aboutText p{
    margin-bottom: 7%;
}
.provide{
    font-size: 1.8rem;
    position: relative;
}
.provideText{
    position: absolute;
    width: 100%; 
    bottom: 5%;
    text-align: center;
}
.provideText>p{
    margin-bottom: 2%;
}
.case_01Text{
    position: absolute;
    left: 10%;
    top:79%;
    font-size: 1.8rem;
}
.case_01Text p{
    margin-bottom: 2%;
    white-space: nowrap;

}
.case_02Text{
    position: absolute;
    left: 30.5%;
    top:73%;
    font-size: 1.8rem;
}
.case_02Text p{
    margin-bottom: 2%;
    white-space: nowrap;
}
.case_03Text{
    position: absolute;
    left: 8.5%;
    top: 73%;
    font-size: 1.8rem;
}
.case_03Text p{
    margin-bottom: 2%;
    white-space: nowrap;
}

.case_03_2Text{
    position: absolute;
    left: 26.5%;
    top: 78%;
    font-size: 1.8rem;
}
.case_03_2Text p{
    margin-bottom: 2%;
    white-space: nowrap;
}
.HiText{
    position: absolute;
    left: 28.2%;
    top: 40%;
    font-size: 1.8rem;
}
.HiText p{
    white-space: nowrap;
    margin-bottom: 2%;
}

.MctText{
    position: absolute;
    left: 8.3%;
    top: 46%;
    font-size: 1.8rem;
}
.MctText p{
    white-space: nowrap;
    margin-bottom: 3%;
}